</header>
<div class="articles" >
  <% @articles.each do |article| %>
    <div class = "article-title">
      <%= article.title %>
    </div>
    <div class = "author">
      <%= article.name%>
    </div>
      <div class = "text"><%= simple_format(article.text) %>
    </div>
    <% if user_signed_in? && article.user_id == current_user.id%>
      <div class = "edit-delete">
      <%= link_to '編集・削除', "/articles/#{article.id}/edit"%>
      </div>
    <% end %>
    <hr>
  <% end %>

  <footer>
    <div class = "pagination">
      <%= paginate(@articles) %>
    </div>
  </footer>
</div>