<div class="create-form">
<h1>新規記事作成</h1>
    <%= form_with  model: @article do |form| %>
      <%= form.hidden_field :name, :value => current_user.name %>
      <div>タイトル<%= form.text_field :title %></div>
      <div>本文<%= form.text_area :text %></div>
      <div><%= form.submit value: "作成"%></div>
    <% end %>
<footer>
  <%= link_to '一覧へ戻る', "/articles/index"%>
</footer>
</div>